<form  *ngIf="internshipTranslationForm" [formGroup]="internshipTranslationForm" >
    <div class="flex-column" >
<div class="title-content">
  
    <mat-form-field  >
                <mat-label> {{'titleContentLabel'|translate}}</mat-label>
                <input
                formControlName="titleContent"
                matInput
                type="text"
                >
                <mat-error >
                    {{'titleContentLabelErrorMessage' |translate}}
                </mat-error>
            </mat-form-field>
      
        
      
    </div>
<div>
   <div class="flex-row">
    <div>
        <div class="editor">
  
            <div >
                <mat-label class="editor-label"> {{'descriptionLabel'|translate}}</mat-label>
    
            </div>
        <div>
        <angular-editor  formControlName="description" [config]="editorConfig"></angular-editor>
    
       
    
        <div>
            <mat-error *ngIf="internshipTranslationForm.controls['description'].dirty && internshipTranslationForm.controls['description'].invalid">
                {{'descriptionLabelErrorMessage' |translate}}
            </mat-error>
        </div>
        </div>
    
    </div>
    </div>
    <div>
        <div class="editor">
  
            <div >
                <mat-label> {{'knowledgeToDevelopLabel'|translate}}</mat-label>
            </div>
        <div>
        <angular-editor  formControlName="knowledgeToDevelop" [config]="editorConfig"></angular-editor>
    
        <div>
            <mat-error *ngIf="internshipTranslationForm.controls['knowledgeToDevelop'].dirty && internshipTranslationForm.controls['knowledgeToDevelop'].invalid">
                {{'knowledgeToDevelopLabelErrorMessage' |translate}}
            </mat-error>
        </div>
        </div>
    
    </div>
    </div>
   </div>

</div>
<div>
<div class="flex-row">
    <div>
        <div class="editor">
  
            <div >
                <mat-label> {{'locationLabel'|translate}}</mat-label>
            </div>
        <div>
        <angular-editor  formControlName="location" [config]="editorConfig"></angular-editor>
    
        <div>
            <mat-error *ngIf="internshipTranslationForm.controls['location'].dirty && internshipTranslationForm.controls['location'].invalid">
                {{'locationLabelErrorMessage' |translate}}
            </mat-error>
        </div>
        </div>
    
    </div>
    </div>
    <div>
        <div class="flew-row">
            <div>
                <div class="editor">
  
                    <div >
                        <mat-label> {{'commentLabel'|translate}}</mat-label>
                    </div>
                <div>
                <angular-editor  formControlName="comment" [config]="editorConfig"></angular-editor>
            
                <div>
                    <mat-error *ngIf="internshipTranslationForm.controls['comment'].dirty && internshipTranslationForm.controls['comment'].invalid">
                        {{'commentLabelErrorMessage' |translate}}
                    </mat-error>
                </div>
                </div>
            
            </div>
            </div>
            
        </div>
       
    </div>
</div>


  
 </div>
 <div>
 
 </div>
<div >
   
</div>
<div >
        
   

    <div class="editor">
  
        <div >
            <mat-label> {{'contentLabel'|translate}}</mat-label>
        </div>
    <div>
    <angular-editor  formControlName="content" [config]="editorConfig"></angular-editor>

    <div>
        <mat-error *ngIf="internshipTranslationForm.controls['content'].dirty && internshipTranslationForm.controls['content'].invalid">
            {{'contentLabelErrorMessage' |translate}}
        </mat-error>
    </div>
    </div>

</div>
</div>
    </div>
   


    



  

 

   
</form>
