
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: auto;
}
*{
  font-size: 16px;
}
.title-content{
  margin-top: 2%;
 
}
.editor{
  margin-left: 5%;
  margin-top: 5%;

}
.editor-label{
  justify-content: left;
  align-items: left;
  margin-right: 20%;
}
.flex-row{
  display: flex;
  flex-direction:row;
 
}
mat-label{
  font-weight: bold;
  
}