################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/backend/.vs/ProjectSettings.json
/backend/backend/.vs/backend/v17/TestStore/1/110.testlog
/backend/backend/.vs/backend/FileContentIndex
/backend/backend/unit tests/obj/Debug/net7.0/unit tests.csproj.AssemblyReference.cache
/backend/backend/.vs/slnx.sqlite
/backend/backend/src/WebUI/obj/Debug/net7.0/WebUI.csproj.AssemblyReference.cache
/backend/backend/src/Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.AssemblyReference.cache
/backend/backend/src/Application/obj/Debug/net7.0
/backend/backend/.vs/backend/FileContentIndex
/backend/backend/.vs/backend/v17/TestStore/1
/backend/backend/.vs/backend/v17
/backend/backend/.vs/ProjectSettings.json

/backend/backend/.vs/VSWorkspaceState.json
/backend/backend/.vs/backend/DesignTimeBuild/.dtbcache.v2
/backend/backend/.vs/backend/v17/.wsuo
/backend/backend/.vs/backend/v17/.suo
/backend/backend/.vs/slnx.sqlite
/backend/backend/unit tests/obj/Debug/net7.0/unit tests.csproj.AssemblyReference.cache
/backend/backend/src/WebUI/obj/Debug/net7.0/WebUI.csproj.AssemblyReference.cache
/backend/backend/src/Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.AssemblyReference.cache
/backend/backend/src/Application/obj/Debug/net7.0/Application.csproj.AssemblyReference.cache
/backend/backend/.vs/backend/v17/.futdcache.v2
/backend/backend/.vs/backend/v17/workspaceFileList.bin
/backend/backend/.vs/ProjectEvaluation/backend.metadata.v6.1
/backend/backend/.vs/ProjectEvaluation/backend.projects.v6.1
