

<intern-rapp-popup >
    <div heading >
         {{updatedEntityName}}
    
    </div>
    <form content> 
        <ng-container *ngTemplateOutlet="templateContent">

        </ng-container>
    
    </form>
    <div actions>
        <div style="display: flex;flex-direction: row; gap: 15px;">
            <div>
                <button class="btn btn-info" mat-button  (click)="delete()">
                    <i class="{{iconClass}}"></i>  &nbsp;
                    {{actionName}}
                </button>
            </div>
        <div>
          
        </div>
        </div>
       
    </div>
</intern-rapp-popup> 