@import "~@angular/material/prebuilt-themes/indigo-pink.css";
table {
    width: 100%;
    
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    
  }
  button{
    border-radius: 20px;
    
  }
  td, th {
    width: 25%;
  }
 