<div  >

    <div   style=" margin-left: 1%;margin-top: 2%;justify-content: center;text-align: center;">
        <div mat-dialog-title 
        >
            Delete  {{title}}
        </div>
    </div>
    
    </div>
    
    <mat-divider></mat-divider>
    
    <mat-dialog-content class="mat-typography">
 
        are you sure to delete a {{title}}?
    
  
    
    
    </mat-dialog-content>
    
    
    <mat-dialog-actions align="center">
       <div class="flex-row">
        <div>
            <button (click)="closeDialog(true)"  class="cancel-button flex-row-cancel-save-update" >
                
            <div><mat-icon>delete</mat-icon></div>
            <div>Delete</div>
            </button>
        </div>
        <div>
            <button (click)="closeDialog(false)" class="cancel-button flex-row-cancel-save-update"   mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <div>
                    <mat-icon>cancel</mat-icon> 
                </div>        
                    <div>
                        Cancel
                    </div>
                       </button>
        </div>
       </div>
    </mat-dialog-actions>
    
