<button class="bg-danger"  mat-button  style="border: none;margin-left: 84%;width: max-content;" mat-dialog-close>
    <span style="margin-left: 40%;">X</span>
</button>

<div style="display: flex; flex-direction: row;width:80%;margin-top: -9%;" >

<div   style=" margin-left: 1%;margin-top: 2%;justify-content: center;text-align: center;">
    <ng-content  mat-dialog-title select="[heading]">

    </ng-content>
</div>

</div>

<mat-divider style="margin-top: 3%;"></mat-divider>
<mat-dialog-content class="mat-typography">
    <ng-content select="[content]">

    </ng-content>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <ng-content select="[actions]">

    </ng-content>
</mat-dialog-actions>
<ng-template>

</ng-template>
