<div  >

    <div   class="heading">
        <div mat-dialog-title select="[heading]">
            update Language
        </div>
    </div>
    
    </div>
    
    <mat-divider></mat-divider>
    
    <mat-dialog-content class="mat-typography">
    <form [formGroup]="updateForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Language Name</mat-label>
            <input matInput type="text" formControlName="languageName">
            <mat-error *ngIf="updateForm.controls.languageName.touched&&updateForm.controls.languageName.hasError">
                The Name of the language is required
            </mat-error>
        </mat-form-field>
      
    
  
    
        
    
    
    </form>
    
    
    </mat-dialog-content>
    
    
    <mat-dialog-actions align="center">
       <div class="flex-row">
        <div>
            <button (click)="close()" class="save-button flex-row-cancel-save-update"  [disabled]="!updateForm.valid" >
                
            <div><mat-icon>edit</mat-icon></div>
            <div>Update</div>
            </button>
        </div>
        <div>
      
           <button (click)="close()" class="cancel-button   flex-row-cancel-save-update"   mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <div>
                <mat-icon>cancel</mat-icon> 
            </div>        
                <div>
                    Cancel
                </div>
                   </button>
    
            
        </div>
       </div>
    </mat-dialog-actions>
    
