<div  >

    <div   class="heading">
        <div mat-dialog-title select="[heading]">
           {{'addLanguageHeader' |translate}}
        </div>
    </div>
    
    </div>
    
    <mat-divider></mat-divider>
    
    <mat-dialog-content class="mat-typography">
    <form [formGroup]="addForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'languageNameLabel' |translate}}</mat-label>
            <input matInput type="text" formControlName="languageName">
            <mat-error *ngIf="addForm.controls.languageName.touched&&addForm.controls.languageName.hasError">
                {{'languageNameRequiredErrorMessage' |translate}}
            </mat-error>
        </mat-form-field>
      
    
    </form>
    
    
    </mat-dialog-content>
    
    
    <mat-dialog-actions align="center">
       <div class="flex-row">
        <div>
            <button class="save-button flex-row-cancel-save-update" (click)="closeDialog(true)" [disabled]="!addForm.valid" >
                
            <div><mat-icon>save</mat-icon></div>
            <div>{{'saveButtonText' |translate}}</div>
            </button>
        </div>
        <div>
      
           <button class="cancel-button   flex-row-cancel-save-update"  (click)="closeDialog(false)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <div>
                <mat-icon>cancel</mat-icon> 
            </div>        
                <div>
                    {{'cancelButtonText' |translate}}
                </div>
                   </button>
    
            
        </div>
       </div>
    </mat-dialog-actions>
    
